.access {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: var(--sds--color--gray--background);

    .container {
        display: flex;
        min-width: 100vw;
    }

    .pages {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.sds--modal.sds--backdrop {
    z-index: 99;
}

.react-datepicker-popper {
    z-index: 3 !important;
}