@use "styles/tooltip" as *;
@use "styles/forms" as *;
@use "styles/responsive" as *;
@use "styles/vars" as *;

@mixin page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@mixin page-content {
    max-width: $full-mode;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (max-width: $full-mode) {
        max-width: 100%;
    }
}

@mixin page-media {
    @media (max-width: $full-mode) {
        width: 100%;
        max-width: 100%;
    }

}

@mixin form-content {
    display: flex;
    flex-direction: column;
    background-color: #f7f9fa;
    padding: 25px 50px;
}

@mixin input-field {
    label {
        display: inline-block;
        min-width: 210px;
        color: black;
        position: relative;
        margin: 12px 0 var(--sds--space--1);
    }
}

body:after {
    position: fixed;
    width: 109px;
    height: 28px;
    top: 15px;
    right: -25px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    line-height: 30px;
    transform: rotate(45deg);
}

:root {
    --sds--color--grey-background: #F4F6F8;
}

strong {
    font-weight: 600;
}

h1.large {
    font-size: 56px;
    font-weight: 600;
}

.card {
    background: white;
    border: 1px solid #EAECF0;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    gap: 15px;
    max-width: 320px;
    padding: 30px;
    @media (max-width: $mobile-width) {
        width: 100%;
        padding: 20px;
    }

}






