$min-width-pixels: 620px;

:root {
    --sds--color--gray--background: #F4F6F8;
    --sl-color-warning: #FFC100;
    --sl-color-warning-50: #FEFBE6;
    --sl-color-warning-100: #FFD03A;
    --sl-color-warning-600: #F5B800;
    --sl-color-grey-100: #E1E4E8;
    --sl-color-grey-400: #EAECF0;
    --sl-color-green-100: #ECFCF3;
    --sl-color-green-200: #B8E3C9;
    --sl-color-neutral-100: #EEEFF1;
    --sl-color-neutral-400: #888F99;
    --sl-color-neutral-500: #5E6873;
    --sl-color-secondary-400: #888F99;
}

.sds--card--big {
    width: $min-width-pixels;

    @media (max-width: 680px) {
        width: 100%;
    }
}

.sds--tooltip-parent {
    .sds--switch.sds--switch--active {
        background-color: var(--sds--color--green--400);
    }

    .sds--switch.sds--switch--active:hover {
        background-color: var(--sds--color--green--500);
    }

    input[type=checkbox]:not(:disabled):checked + label .sds--checkbox--visual {
        background-color: var(--sds--color--green--400);
    }

    input[type=checkbox]:not(:disabled):checked + label .sds--checkbox--visual:hover {
        background-color: var(--sds--color--green--500);
    }

}

.sds--radio-options {

    input[type=radio]:not(:disabled):checked + label .sds--radio--visual {
        border-color: var(--sds--color--green--400);
    }

    input[type=radio]:not(:disabled):checked + label .sds--radio--visual:before {
        background-color: var(--sds--color--green--400);
    }

    input[type=radio]:not(:disabled):checked + label .sds--radio--visual:hover {
        border-color: var(--sds--color--green--500);
    }

    input[type=radio]:not(:disabled):checked + label .sds--radio--visual:before:hover {
        background-color: var(--sds--color--green--500);
    }

}

.sds--footer--single-bar .sds--footer--inner nav.menu a:link, .sds--footer--single-bar .sds--footer--inner nav.menu a:visited {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
        color: white;

    }
}

.sds--chips.status-error {
    background-color: var(--sl-color-warning-100);
    text-align: center;

    &:hover {
        background-color: var(--sl-color-warning-100);
    }

    &.open {
        background-color: var(--sds--color--gray--300);
    }

    &.in_progress {
        background-color: var(--sds--color--gray--300);
    }

    &.multiple_connections {
        background-color: var(--sds--color--gray--300);
    }

    &.complete {
        background-color: var(--sds--color--green--400);
        color: white;
    }

    &.prod_ready {
        background-color: var(--sds--color--green--400);
        color: white;
    }

    &.ready_for_prod {
        background-color: black;
        color: white;
    }

    &.pending_prod {
        background-color: var(--sl-color-warning-100);
    }

    &.no_connections {
        background-color: var(--sds--color--red--200);
    }

    &.open_change_requests {
        background-color: var(--sl-color-warning-100);
    }
}

span.sds--chips--textual {
    text-align: center;
}


