target/
node_modules/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
docs/invite.archimate.bak
/yamllint-*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven ###
dep.tree
dependency.tree
NOTES.txt
TODO*.md
spieldata
.run/
queries
pom.xml.versionsBackup
dependency.tree
jira.yml
application-local.yml
jira.yml
spieldata