  {
    "_id": "{{ manageIdentifier }}",
    "version": {{ manageVersion }],
    "type": "{{ protocol }}",
    "data": {
      "entityid": "{{ metaData.entityID }}",
      "metaDataFields": {
        "name:en": "Calendar EN",
        "name:nl": "Calendar NL",
        "OrganizationName:en": "SURF bv",
        "logo:0:url": "https://static.surfconext.nl/media/idp/surfconext.png",
        "coin:institution_guid": "ad93daef-0911-e511-80d0-005056956c1a",
        "coin:application_url": "https://default-url-calendar.org"
      }
    }
  }