@use "../styles/mixins" as *;
@use "../styles/vars" as *;
@use "../index";

.organization-invitations {

    .mod-entities {
        width: 90%;
        margin: 0;
        @media (max-width: $full-mode) {
            width: 100%;
        }
    }

    .menu.drop-down {
        position: relative;
    }

    @include index.menu-header;

    ul li {
        padding: 12px 0 12px 0;
    }

    table.invitationsManagement {

        thead {
            th.mail {
                width: 20%;
            }

            th.user__name {
                width: 20%;
            }

            th.role {
                width: 15%;
            }

            th.createdAt {
                width: 15%;
            }

            th.expiryDate {
                width: 15%;
            }

            th.buttons {
                width: 15%;
            }
        }

        tbody {
            td.buttons {
                text-align: right;
            }

        }
    }

    .explanations {
        max-width: 410px;
        margin: 0 auto;
        background: #DCF2E5;
        padding: 20px;
        border-radius: $br;
        h2 {
            margin-bottom: 25px;
        }
        p.role {
            font-weight: 600;
        }
        p.paragraph {
            margin: 0 0 15px 15px;

        }
    }
 }
