@use "../styles/mixins" as *;
@use "../styles/vars" as *;

.organization-invitations {

    table.invitationsManagement {

        thead {
            th.mail {
                width: 20%;
            }

            th.user__name {
                width: 20%;
            }

            th.role {
                width: 15%;
            }

            th.createdAt {
                width: 15%;
            }

            th.expiryDate {
                width: 15%;
            }

            th.buttons {
                width: 15%;
            }
        }

        tbody {
            td.buttons {
                text-align: right;
            }

        }
    }

 }
