@use "../styles/mixins" as *;
@use "../styles/vars" as *;
@use "../index";

.organization-memberships {
    display: flex;
    gap: 40px;

    @media (max-width: $full-mode) {
        flex-direction: column;
    }

    .mod-entities {
        margin: 0;
    }

    .menu.drop-down {
        position: relative;
    }

    @include index.menu-header;

    ul li {
        padding: 12px 0 12px 0;
    }

    table.teamManagement {

        thead {
            th.user__name {
                width: 45%;
            }

            th.role {
                width: 20%;
            }

            th.createdAt {
                width: 20%;
            }

            th.buttons {
                width: 15%;
            }
        }

        tbody {
            td.buttons {
                text-align: right;
            }

        }
    }

    .explanations {
        max-width: 410px;
        margin: 0 auto;
        background: #DCF2E5;
        padding: 20px;
        border-radius: $br;
        p.role {
            font-weight: 600;
        }
        p.paragraph {
            margin: 0 0 15px 15px;

        }
    }
 }
