@use "../styles/mixins" as *;
@use "../styles/vars" as *;

.organization-memberships {
    display: flex;
    gap: 40px;

    @media (max-width: $full-mode) {
        flex-direction: column;
    }

    .mod-entities {
        margin: 0;
    }

    table.teamManagement {

        thead {
            th.user__name {
                width: 45%;
            }

            th.role {
                width: 20%;
            }

            th.createdAt {
                width: 20%;
            }

            th.buttons {
                width: 15%;
            }
        }

        tbody {
            td.buttons {
                text-align: right;
            }

        }
    }

 }
