@use "../styles/mixins" as *;
@use "../index";
@use "../styles/application";
@use "../styles/vars" as *;

div.user-management-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    &.with-applications {
        background-color: transparent;
    }

    div.user-management-container {
        background-color: white;
        height: 100%;
        padding: $page-padding;
    }
}