@use "../index";
@use "../styles/vars.scss" as *;

div.application-detail-container {
    width: 100%;

    $width: 920px;

    .sds--modal--container {
        max-width: 620px;
    }

    .connect-options-container {
        .sds--text-field-container > [class^="option-"] {
            padding: 14px 20px 14px 10px;
            background-color: var(--sds--color--gray--background);
            border-radius: 6px;
        }

        h3 {
            margin-bottom: 20px;
        }
    }

    .application-detail-header-container {
        width: 100%;
        background-color: var(--sds--color--gray--background);
    }

    .application-detail-header {
        max-width: $width;
        margin: 0 auto;
        padding: 75px 0;
        display: flex;

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-right: 50px;
        }

        img {
            width: 200px;
            height: auto;
            border-radius: 20px;
            margin: auto 0 auto auto;
        }
    }

    .application-card-container {
        display: flex;
        align-items: flex-start;
        gap: 25px;
    }

    .application-card {
        display: flex;
        background: white;
        border: 1px solid var(--sl-color-grey-400);
        border-radius: 10px;
        gap: 15px;
        padding: 30px;
        width: 70%;
        @media (max-width: $medium) {
            width: 100%;
        }

        img, svg {
            width: 80px;
            height: 80px;
        }
    }

    .application-detail-page {
        background-color: white;
        height: 100%;
        padding: 35px 50px;

        .sds--alert .sds--alert--textual.with-children {
            display: flow;

            a {
                display: inline-block;
                margin-left: 3px;
            }
        }
    }

    .inner-application-detail-container {
        width: 100%;
        background-color: white;
    }

    .application-detail-top {
        background-color: white;
        padding: 0 25px;

        a {
            color: var(--sds--color--gray--500);
            text-decoration: none;
        }
    }

    .application-detail {
        @include index.page;
        background-color: white;
        max-width: $width;
        padding: 25px 0;

        &.stand-alone {
            margin: 0 25px;
        }

        .meta-data {
            display: flex;
            align-items: center;
            padding-bottom: 25px;
            margin-bottom: 15px;
            border-bottom: 1px solid var(--sds--color--gray--300);

            img {
                width: 140px;
                height: auto;
                border: 1px solid var(--sds--color--gray--200);
                padding: 12px;
                border-radius: 8px;
                margin-right: 25px;
            }

            .meta-data-name {

                display: flex;
                flex-direction: column;
                gap: 12px;

                p.organization {
                    color: var(--sds--color--blue--400);
                    font-size: 20px;
                }

                p.name {
                    font-weight: 600;
                    font-size: 24px;
                }
            }

            button {
                margin-left: auto;
            }
        }
    }

    .details {
        display: flex;
        gap: 25px;
        width: 70%;
        @media (max-width: $medium) {
            width: 100%;
        }

        &.anonymous {
            width: 100%;
        }

        .left {
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 35px;

            .details-panel {
                background-color: var(--sds--color--gray--background);
                max-width: 560px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 2px;

                p.title {
                    font-weight: 600;
                }
            }
        }

        .arp-attributes, .privacy-questions {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            gap: 25px;

            .attribute, .privacy-question {
                display: flex;
                flex-direction: column;

                .attr-name, .priv-name {
                    font-weight: 600;
                }

                .attr-source, .priv-answer {
                    font-style: italic;
                    color: var(--sds--color--gray--500);
                }
            }
        }

        .right {
            margin-left: auto;
            max-width: 35%;

            .license {
                width: 275px;
                height: 32px;
                border-radius: 100px;
                padding: 2px 12px;
                font-weight: 600;
                font-size: 18px;
                background-color: #FFC100;
                color: white;
                text-align: center;
            }

            .info {
                margin-top: 25px;
                font-size: 18px;
                font-weight: 600;
                &.no-margin {
                    margin-top: 0;
                }
            }

            .app-info-block {
                display: flex;
                flex-direction: column;
                gap: 2px;

                a, a:visited, a:hover {
                    color: #0077C8;
                }
            }
        }
    }

    .sds--alert {
        width: 80%;
        margin-bottom: 25px;

        .sds--alert--actions {
            cursor: pointer;
        }
    }

    .app-access {
        width: 80%;
        display: flex;
        gap: 25px;
        @media (max-width: $medium) {
            width: 100%;
            flex-direction: column;
        }

        &.read-only {
            z-index: 999;
            opacity: 0.2;
            cursor: default;
        }

        &.read-only > * {
            pointer-events: none;
        }

        .red {
            color: var(--sds--color--red--400);
        }

        .green {
            color: var(--sds--color--green--400);
        }

        .sds--btn.sds--btn-icon svg {
            width: 18px;
            height: auto;
        }

        .app-access-central {
            width: 65%;

            .sds--chips.policies-active {
                margin: 0 auto;
                background-color: var(--sl-color-warning);
                color: white;
            }
        }

        .app-access-decentral {
            width: 35%;

            .not-allowed-container {
                display: flex;
                gap: 18px;
                align-content: center;
                width: 100%;

                svg {
                    fill: none;
                }
            }
        }

        h2 {
            margin-bottom: 20px;
        }

        .info-block {
            padding: 24px 24px 24px 24px;

            &:not(:last-child) {
                margin-bottom: 25px;
            }

            h3 {
                margin-bottom: 5px;
            }


            .grouped {
                display: flex;
                width: 100%;
                margin-bottom: 25px;

                button {
                    align-self: flex-start;
                    margin-left: auto;
                }

            }
        }

    }

}