@use "../index";
@use "../styles/vars.scss" as *;

div.applications-container {
    width: 100%;

    $width: 920px;

    .applications-header-container {
        width: 100%;
        background-color: var(--muted);
    }

    .applications-header {
        max-width: $width;
        margin: 0 auto;
        padding: 75px 0;
        display: flex;

        p {
            margin-right: 50px;
        }

        img {
            width: 200px;
            height: auto;
            border-radius: 20px;
            margin: auto 0 auto auto;
        }
    }

    .inner-applications-container {
        width: 100%;
        background-color: white;
    }

    .applications {
        @include index.page;
        background-color: white;
        max-width: $width;
        padding-bottom: 40px;

        .applications-search {
            margin: 20px 0 15px 0;
        }

        .select-field {
            width: 25%;
        }
    }

    .applications-overview ul {

        li {
            padding: 10px 0 10px 0;
            cursor: pointer;
            height: 70px;

            &:hover {
                background-color: var(--border);
            }

            &:not(:first-child) {
                border-top: 1px solid var(--border);
            }
        }

        .service-provider {
            display: flex;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
                border-radius: 12px;
            }

            svg {
                width: 48px;
                color: var(--muted-foreground);
                height: auto;
                border-radius: 12px;
            }

            .sp-info {
                display: flex;
                align-items: center;
                width: 100%;

                .sp-name {
                    font-size: 18px;
                    font-weight: 600;
                }

                .sp-org {
                    margin-left: auto;
                    color: var(--primary)
                }
            }
        }
    }

    .applications-overview-recent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1.4rem;
        column-gap: 1rem;

        /* Mobile: stack in one column */
        @media (max-width: 768px) {
            .container {
                grid-template-columns: 1fr;
            }
        }

        .application-card {
            width: 440px;
            height: 120px;
            display: flex;
            align-items: center;
            box-shadow: 0 1px 0 2px #DFE3E8;
            border-radius: 8px;
            padding: 20px;
            cursor: pointer;
            &:hover {
                background-color: var(--muted);
            }
            .sp-info {
                display: flex;
                flex-direction: column;
                margin-left: 25px;

                .sp-name {
                    font-size: 20px;
                    font-weight: 600;
                }

                .sp-org {
                    font-size: 20px;
                }
            }

            img, svg {
                width: 80px;
                padding: 12px;
                border: 1px solid #B2B6BE;
                height: auto;
                border-radius: 4px;
            }

            span.right {
                margin-left: auto;
                padding-left: 10px;
                svg {
                    width: 14px;
                    border: none;
                }


            }
        }
    }

}