@use "../index";
@use "../styles/vars.scss" as *;

div.applications-container {
    width: 100%;

    $width: 920px;

    .applications-header-container {
        width: 100%;
        background-color: var(--sds--color--gray--background);
    }

    .applications-header {
        max-width: $width;
        margin: 0 auto;
        padding: 75px 0;
        display: flex;

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-right: 50px;
        }

        img {
            width: 200px;
            height: auto;
            border-radius: 20px;
            margin: auto 0 auto auto;
        }
    }

    .inner-applications-container {
        width: 100%;
        background-color: white;
    }

    .applications {
        @include index.page;
        background-color: white;
        max-width: $width;

        .applications-search {
            margin: 20px 0 15px 0;
        }

        .select-field {
            width: 25%;
        }
    }

    .applications-overview ul {

        li {
            padding: 10px 0 10px 0;
            cursor: pointer;
            height: 70px;

            &:hover {
                background-color: var(--sds--color--gray--200);
            }

            &:not(:first-child) {
                border-top: 1px solid var(--sds--color--gray--300);
            }
        }

        .service-provider {
            display: flex;
            align-items: center;

            img{
                width: 60px;
                height: auto;
                border-radius: 12px;
            }

            svg {
                width: 48px;
                color: var(--sds--color--gray--300);
                height: auto;
                border-radius: 12px;
            }

            .sp-info {
                display: flex;
                margin-left: 25px;
                align-items: center;
                width: 100%;

                .sp-name {
                    font-size: 18px;
                    font-weight: 600;
                }

                .sp-org {
                    margin-left: auto;
                    color: var(--sds--color--blue--400)
                }
            }
        }
    }

    .sds--pagination {
        display: flex;

        .sds--pagination--nav {
            margin: 15px auto 15px auto;
        }
    }

}