@use "../styles/vars" as *;

.mod-invitation-form {

    &.inviter {
        background-color: white;

        height: 100%;
    }

    .invitation-outer {
        display: flex;
        gap: 40xp;
        align-items: flex-start;

    }

    [data-slot="alert"] {
        margin-top: 40px;

        [data-slot="alert-description"] {
            margin-top: 15px;
        }

        p.role {
            margin: 0;
        }

        p.paragraph {
            margin: 0 0 15px 15px;
        }

    }

    .invitation-form {
        padding: $page-padding;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 18px;

        @media (max-width: $full-mode) {
            max-width: 100%;

        }

        .select-field.small {
            max-width: 210px;
        }
    }

    .actions {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1Px solid var(--border);
    }

}
