@use "../styles/vars" as *;

.mod-invitation-form {

    &.inviter {
        background-color: white;

        height: 100%;
    }

    .invitation-form {
        padding: 25px 50px;
        max-width: 50%;

        @media (max-width: $full-mode) {
            max-width: 100%;

        }

        .select-field.small {
            max-width: 210px;
        }
    }

    .actions {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1Px solid var(--sds--color--gray--200);
    }

}