@use "../styles/vars" as *;
@use "../index";

.join-request-container {
    padding: 0 50px 0 50px;
    min-height: 100vh;
    background-color: white;
    display: flex;

    .join-request-inner {
        display: flex;
        gap: 25px;
        flex-direction: column;
        margin: 50px auto 0 auto;
        width: 460px;
    }

    @include index.page-media;

    .actions {
        display: flex;
    }

    .error {
        color: var(--destructive);
    }

}
