@use "../styles/vars" as *;
@use "../index";

.landing-container {
    padding: 0 50px 0 50px;
    min-height: 100vh;
    background-color: white;
    display: flex;

    @include index.page-media;

    .search {
        margin: 50px auto 0 auto;
        width: 460px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .sub-info {
        margin-top: -15px;
        color: var(--base-muted-foreground, #525252);
    }

    .zero-state {
        color: var(--base-muted-foreground, #525252);
    }

    .found {
        margin-bottom: -25px;
        font-weight: 500;
    }

    .inner-search {
        position: relative;

        svg {
            position: absolute;
            right: 10px;
            top: 22px;
            width: 20px;
            height: auto;
            color: var(--muted-foreground);
        }
    }

    .organizations-container {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .organization {
            position: relative;
            display: flex;
            align-items: center;
            background-color: white;
            padding: 14px 18px 14px 14px;
            border-radius: $br;
            border: 1px solid var(--border);
            cursor: pointer;

            p {
                font-weight: 600;
            }

            svg {
                margin-left: auto;
                color: var(--muted-foreground);
                width: 12px;
                height: auto;

                &:hover {
                    color: black;
                }
            }

            &:hover {
                background-color: var(--alpha-30);

                svg {
                    color: black;
                }
            }

        }

        .register {
            span {
                margin-right: 5px;
            }
        }

    }
}
