@use "../styles/mixins" as *;
@use "../index";
@use "../styles/vars" as *;

div.my-organization-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .my-organization-header-container {
        background-color: var(--muted);
        padding: 25px 50px 25px 50px;

        .top-header {
            margin-bottom: 15px;
        }
    }

    div.my-organization {
        padding: $page-padding;
    }

    .menu-container {
        margin-top: 25px;
        display: flex;
        width: 75%;
        gap: 35px;
    }

    .left-menu {
        @include card(15px, 24px, 0);
        min-width: 280px;
        align-self: flex-start;
    }

    .right-menu {
        @include card(15px);
        width: 100%;

        p.info {
            margin-top: 5px;
            color:var(--muted-foreground);
        }

    }

    .actions {
        padding-right: 40px;

        &.proceed {
            width: 75%;
            padding-right: 0;
        }
        button {
            margin-left: auto;
        }
    }

}
