@use "../styles/mixins" as *;
@use "../index";

div.my-organization-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .my-organization-header-container {
        background-color: var(--sds--color--gray--background);
        padding: 25px 50px 25px 50px;

        .top-header {
            margin-bottom: 15px;
        }
    }

    div.my-organization {
        padding: 25px 50px;
        background-color: white;
    }

    .menu-container {
        margin-top: 25px;
        display: flex;
        width: 75%;
        gap: 35px;
    }

    .left-menu {
        @include card(15px);
        min-width: 280px;
        align-self: flex-start;

        .menu-item {
            display: flex;
            align-items: center;
            align-content: center;
            width: 100%;
            padding: 8px 8px;
            background-color: white;
            cursor: pointer;

            &:hover:not(.active) {
                background-color: var(--sds--color--green--100);
            }

            &.active {
                cursor: initial;
                background-color: var(--sds--color--gray--100);
                border-radius: 4px;

            }
        }
    }

    .right-menu {
        @include card(15px);
        width: 100%;

        h3 {
            margin: 0 0 25px 0;
        }

    }

    .actions {
        padding-right: 40px;

        &.proceed {
            width: 75%;
            padding-right: 0;
        }
        button {
            margin-left: auto;
        }
    }

}