@use "../index";

.mod-organizations {
    position: relative;
    max-width: 100%;

    .menu.drop-down {
        position: relative;
    }

    @include index.menu-header;

    ul li {
        padding: 12px 0 12px 0;
    }

    .name-container {
        display: flex;
        position: relative;
        width: 100%;
        .input-field {
            width: 100%;
        }
        .action-icons {
            display: flex;
            gap: 5px;
            position: absolute;
            right: 8px;
            top: 12px;
            span {
                cursor: pointer;
            }
        }
    }
    table.organizations {

        thead {
            th {
                &.name {
                    width: 22%;
                }

                &.schac_home_organization, &.schacHomeOrganization {
                    width: 16%;
                }

                &.createdAt {
                    width: 12%;
                }

                &.applicationCount {
                    text-align: center;
                    width: 12%;
                }

                &.memberCount {
                    text-align: center;
                    width: 12%;
                }

                &.status {
                    width: 14%;
                }

                th.buttons {
                    width: 10%;
                }
            }
        }

        tbody {
            td {
                &.applicationCount {
                   text-align: center;
                }

                &.memberCount {
                    text-align: center;
                }

            }
        }

        tbody {
            td.buttons {
                text-align: right;
            }

        }

    }

}
