@use "../styles/vars" as *;
@use "../index";

.relax-container {
    padding: 0 50px 0 50px;
    min-height: 100vh;
    background-color: white;
    display: flex;

    @include index.page-media;

    .relax-container-inner {
        margin: 50px auto 0 auto;
        width: 460px;
        display: flex;
        flex-direction: column;
        gap: 25px;

    }

    h1 {
        font-size: var(--text-2xl-font-size, 30px);
        font-weight: var(--font-weight-semibold, 600);
        line-height: var(--text-2xl-line-height, 36px); /* 120% */
    }
}
