@use "../styles/vars" as *;
@use "../index";

.home-container {
    padding: 40px 50px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .home-welcome {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            margin: 0;
        }
    }

    .info-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        width: 100%;
        @include index.page-media;
        @media (max-width: $medium) {
            grid-template-columns: 1fr;
        }

        [data-slot="card-content"] {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }

        [data-slot="card-title"] {
            font-size: var(--text-xl-font-size);
            line-height: var(--text-xl-line-height);
            font-weight: var(--font-weight-semibold);
        }

        .illustration {
            width: 100%;

            svg {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        

        button {
            align-self: flex-start;
            padding-left: 0;
            padding-right: 0;
        }

        .link-blue {
            color: #053eaa;
        }

        .link-purple {
            color: #420984;
        }

        .link-green {
            color: #01653D;
        }
    }
}
