@use "../styles/vars" as *;
@use "../index";

.home-container {
    padding: 40px 50px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;


    .info-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        width: 75%;
        @include index.page-media;
        @media (max-width: $medium) {
            grid-template-columns: 1fr;
            width: 100%;
        }

    }


}