@use "../styles/mixins" as *;
@use "../index";
@use "../styles/application";
@use "../styles/vars" as *;

$width-percentage: 75%;

.app-information-container {
    padding: $page-padding;

    .app-header {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .app-information {
        display: flex;
        gap: 35px;
        width: $width-percentage;
        @include index.page-media;

        .select-field label {
            font-size: 14px;
            font-weight: 500;
        }
    }

    .left {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .status-menu {
        @include card(15px);
    }

    .right {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .inner-right {
        @include card(5px);
    }

    .application {
        margin-top: 25px;
    }

    .fair-use {
        font-size: 14px;

        p {
            margin: 0.5rem 0;
            font-weight: 500;
        }

        div.info {
            margin-top: 6px;
            display: block;
            color: var(--muted-foreground);
        }

        ul {
            list-style: initial;
            margin-top: 15px;

            li {
                margin-left: 25px;
            }
        }

        .checkbox-container {
            background-color: white;
            padding: 15px;
            border: 1px solid var(--input);
            border-radius: .375rem;
        }
    }

}
