@use "../styles/mixins" as *;
@use "../index";
@use "../styles/application";

$width-percentage: 75%;

.change-requests-container {
    background-color: white;
    padding: 25px 50px;

    .change-requests-inner {
        max-width: 60%;
    }
    .app-header {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    .change-requests-information {
        max-width: 100%;
    }
    .actions {
        display: flex;
        margin: 25px 0;
        align-items: flex-end;
        justify-content: space-between;

        &.orphan {
            justify-content: flex-end;
        }


        button svg {
            width: 16px;
            height: auto;
        }
    }
}