@use "../styles/mixins" as *;
@use "../index";

.alert-container {

    .sds--alert {
        margin-bottom: 30px;
        width: 75%;
        @include index.page-media;

        .sds--alert--inner {
            max-width: none;
            width: 100%;
        }
    }

    &.full-width {
        .sds--alert {
            width: 100%;

        }
    }
}