@use "../styles/mixins" as *;

.application-connection-form {
    background-color: white;
    padding: 25px 50px;

    .sds--alert {
        margin-bottom: 30px;
        width: 75%;

        .sds--alert--inner {
            max-width: none;
            width: 100%;
        }
    }

    .application-connection {
        @include form;
        width: 75%;

        .sub-part {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        p.pending {
            color: var(--sds--color--gray--400);
        }
    }

}