@use "../styles/mixins" as *;
@use "../index";
@use "../styles/vars" as *;

.application-connection-form {
    background-color: white;
    padding: $page-padding;

    .application-connection {
        @include form;
        width: 75%;

        @include index.page-media;

        .sub-part {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        p.pending {
            color: var(--sds--color--gray--400);
        }
    }

}