@use "../styles/mixins" as *;
@use "../styles/vars" as *;
@use "../index";

$width-percentage: 75%;

.testing-container {
    padding: 25px 50px;
    background-color: white;

    .testing-header {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        width: $width-percentage;
        @include index.page-media;

        .action-button {
            margin-left: auto;
            position: relative;

            button {
                background-color: var(--sl-color-warning-100);
                color: black;
            }
        }

        .copy-connection {
            margin-left: auto;
            position: relative;
        }

        .copy-connection-section {
            width: 100%;
            z-index: 9;
            position: absolute;
            display: flex;
            flex-direction: column;

            span {
                padding: 12px 15px 4px 15px;
                cursor: pointer;

                &:hover {
                    background-color: var(--sds--color--gray--250);
                }
            }
        }
    }

    .testing {
        display: flex;
        gap: 35px;
        width: $width-percentage;
        @include index.page-media;

        .left {
            width: 30%;
            display: flex;
            flex-direction: column;

        }

        .right {
            width: 70%;
            display: flex;
            flex-direction: column;
        }

        .inner-right {
            @include card();
        }

        .sds--alert.sds--alert--status-warning {
            margin: 25px 0 15px 0;

            .sds--page-container {
                width: 100%;
                margin: 0;
            }

            .sds--alert--textual p {
                font-weight: 400;
            }
        }

        .inner-right-informational {
            @include card(0);

            .select-inner__single-value {
                padding: 6px 0;
            }


            p.disclaimer {
                margin: 20px 0 18px 0;
            }

            p.profile-info {
                margin-top: 5px;
                color: var(--sds--color--gray--500);
            }

            p.attributes {
                margin: 18px 0 8px 0;
            }

            p.scoped-value-disclaimer {
                margin: 8px 0;
                font-size: 14px;
            }

            div.attributes {
                background-color: var(--sds--color--gray--background);
                padding: 8px 15px;
                display: grid;
                border-radius: 8px;
                grid-template-columns: [first] 1fr [second] 1fr;

                span {
                    padding: 8px 0;
                    border-bottom: 1px solid var(--sds--color--gray--250);

                    &:nth-last-of-type(-n+2) {
                        border-bottom: none;
                    }
                }
            }

            .additional-attributes {
                display: flex;
                align-items: center;
                margin: 20px 0;
                border: 1px solid #EAECF0;
                border-radius: 6px;
                padding: var(--sds--space--1-and-a-half);
                width: 100%;

                &.dormant {
                    background-color: var(--sds--color--gray--background);
                }

                &.optional {
                    flex-direction: column;
                    align-items: flex-start;

                    .sds--alert.sds--alert--status-warning {
                        margin: 10px 0 10px 0;
                    }
                }

                .optional-attribute {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .sds--tooltip-parent {
                    margin-left: auto;
                }

                .additional-attribute-info {
                    display: flex;
                    flex-direction: column;
                    padding-right: 20px;

                    span:first-child {
                        font-weight: 600;
                    }
                }

                .input-field {
                    width: 100%;
                    @include index.page-media;

                }


            }

            p.available-attributes {
                font-weight: 600;
            }

        }

        .inner-right-idp {
            @include card(25px);

            .identity-providers {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            .idp {
                display: flex;
                align-items: center;

                .idp-info {
                    margin-left: 25px;
                }

                .idp-info p:first-child {
                    font-weight: 600;
                }

                .idp-info p:last-child {
                    color: var(--sds--color--gray--500)
                }

            }

            .select-field {
                margin-top: -15px;
            }
        }

        .inner-right-overview {
            @include card(0);

            p.test {
                margin: 10px 0 15px 0;
            }
        }

    }

    .status-menu {
        @include card(15px);
    }

    .call-for-action {
        @include card(15px);
        margin-top: 35px;

        p {
            font-weight: 600;
        }
    }

    .grant-types {

        .grant-type {
            display: flex;
            align-items: center;
            border: 1px solid #EAECF0;
            border-radius: 6px;
            padding: var(--sds--space--1-and-a-half);

            &.pkce {
                background-color: #f3f5f7;

                .sds--radio-options {
                    margin-left: auto;
                }
            }

            .pkce-label {
                margin-top: 10px;
            }

            &.refresh-token-validity {
                background-color: #f3f5f7;

                .sds--text-field {
                    flex-direction: row;
                    width: 100%;

                    label {
                        font-weight: initial;
                    }

                    .inner-input-field {
                        margin-left: auto;
                    }

                    input {
                        max-width: 100px;
                    }
                }
            }

            &:first-child {
                border-radius: 6px 6px 0 0;
                border-bottom: none;
            }

            &:not(:first-child):not(:last-child) {
                border-radius: 0;
                border-bottom: none;
            }

            &:last-child {
                border-radius: 0 0 6px 6px;
            }

            .sds--tooltip-parent {
                margin-left: auto;
            }
        }
    }

    em.warning {
        font-size: smaller;
    }

    .redirect-urls-container, .acs-locations-container {
        .redirect-urls, .acs-locations {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .redirect-url-inner, .acs-location-inner {

                width: 100%;
                display: flex;

                .sds--text-field {
                    width: 100%;
                }

                svg {
                    cursor: pointer;
                    margin-left: 15px;
                }

                button.sds--btn--primary {
                    margin-left: 15px;
                }
            }
        }

        .sds--tooltip-container {
            margin-top: 12px;
        }
    }

    .import-metadata {
        display: flex;

        button {
            margin-left: auto;
        }

    }

    .show-import {
        background-color: var(--sds--color--gray--100);
        padding: 20px;

        .show-import-header {
            display: flex;

            p {
                font-weight: 600;
            }

            svg {
                margin-left: auto;
                cursor: pointer;
            }
        }

        span.top {
            margin-top: 20px;
        }

        .meta-data-url {
            display: flex;

            .input-field {
                width: 100%;
            }

            button {
                width: 340px;
                margin: auto 0 0 20px;
                height: 48px;
            }
        }

        .meta-data-file {
            margin-top: 25px;
            display: flex;

            .file-name-section {
                display: flex;
                gap: 10px;
                align-items: center;
                color: var(--sds--color--gray--400);

                button.sds--btn--delete {
                    height: 22px;

                }
            }

            button:not(.sds--btn--delete) {
                width: 240px;
                margin-left: auto;
            }
        }
    }

    .visibility-options {
        p.question {
            font-weight: 600;

            position: relative;

            svg.alert-triangle {
                fill: black;
                color: white;
                position: absolute;
                top: -2px;
                margin-left: 6px;
            }

        }
    }

}

.sub-actions {
    display: flex;

    .delete-connection {
        margin-left: 20px;

        svg {
            width: 22px;
        }
    }

}

.actions {
    display: flex;
    margin: 25px 0;
    align-items: flex-end;
    justify-content: space-between;

    &.orphan {
        justify-content: flex-end;
    }


    button svg {
        width: 16px;
        height: auto;
    }
}

.connections {
    width: $width-percentage;
    @include index.page-media;

    .header {
        display: flex;

        button {
            margin-left: auto;
        }
    }

}

.oidc-authentication {
    margin-top: 10px;

    .oidc-authentication-inner {
        margin-top: 20px;
        padding: 20px;
        background-color: var(--sl-color-warning-50);
    }

    .secret-link {
        margin-top: 15px;
    }
}


table.table-connections {
    thead {
        th.name {
            width: 45%;
        }

        th.status {
            width: 20%;
            text-align: center;
        }

        th.protocol {
            width: 15%;
        }

        th.updatedAt {
            width: 15%;
        }

        th.details {
            width: 5%;
        }
    }

    tbody {
        td.details {
            padding-right: 20px;
            text-align: right;
        }

        td.status {
            text-align: center;
        }

        .status-chip {
            display: flex;
            width: 100%;

            button {
                margin: 0 auto;

            }
        }

        td.details svg {
            fill: none;
        }

    }
}
