<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<div class="main" style="font-family: Helvetica, Arial, sans-serif;line-height: 18px;font-size: 16px;color: #353535;">
    <div class="header" style="background-color: #0077C8;padding:10px 40px;">
        {{> logo-surf.svg}}
        <span style="display: inline-block;color:white;margin-left: 10px;font-size: 18px;">Access</span>
    </div>
    <div class="head" style="padding: 30px 40px 20px 40px;">
        {{#environment}}
        <p style="font-weight: bold;margin: 0; padding: 20px 5px; background-color: #f1f19b;">
            Deze e-mail is afkomstig uit de {{environment}}-omgeving
        </p>
        {{/environment}}
        <p class="title" style="">Hallo,</p>

        <p>
            Als dienstverlener sta je instellingen op SURFconext toe om jouw dienst automatisch te koppelen.
            Je ontvangt deze e-mail omdat je hebt gekozen om meldingen te ontvangen bij nieuwe koppelingen.
        </p>

        <p>
            {{user}} van instelling <u>{{idpName}}</u> heeft de koppeling geïnitieerd tussen hun instelling en jouw
            dienst <u>{{spName}}</u> (met entityID="{{spEntityID}}").
        </p>

    </div>
    {{> footer_nl.html}}

</div>
</body>
</html>
