@use "../styles/mixins" as *;
@use "../styles/vars" as *;
@use "../index";

$page_width: 60%;

.application-memberships {
    background-color: white;
    padding: 25px 50px;

    .application-header {
        display: flex;
        width: $page_width;

        .sds--chips {
            margin-left: auto;
        }
    }

    p.info {
        margin: 15px 0;
    }

    .menu.drop-down {
        position: relative;
    }

    @include index.menu-header;

    ul li {
        padding: 12px 0 12px 0;
    }

    .mod-entities {
        width: $page_width;
        margin: 0;
        @media (max-width: $full-mode) {
            width: 100%;
        }

    }

    table.appTeamManagement {
        thead {
            th.user__name {
                width: 40%;
            }

            th.created {
                width: 30%;
            }

            th.buttons {
                width: 20%;
            }
        }

        tbody {
            td.buttons {
                text-align: right;
            }

        }

    }

}
