@use "../index";
@use "../styles/vars" as *;

.application-connection-header-container {
    padding: 25px 50px 0 50px;
    display: flex;
    width: 75%;
    flex-direction: column;
    gap: 25px;

    @include index.page-media;

    .top-header {
        display: flex;

        span.menu {
            margin-left: auto;
            position: relative;
            cursor: pointer;

            &.drop-down svg.menu-icon {
                transform: rotate(90deg);
            }
        }

        .sds--user-info--dropdown {
            z-index: 7;

            ul {
                li {
                    display: flex;

                    &:hover {
                        background-color: var(--sds--color--gray--500);
                    }
                }
            }

            svg {
                fill: white;
                margin: 0 6px 0 16px;
            }
        }
    }

}

