.sds--chips {
    &.main-100 {
        background-color: var(--muted);

        &:hover {
            background-color: var(--muted);
        }
    }

    &.main-200 {
        background-color: var(--border);

        &:hover {
            background-color: var(--border);
        }
    }

    &.main-300 {
        background-color: var(--muted-foreground);
        color: #FFFFFF;

        &:hover {
            background-color: var(--muted-foreground);
        }
    }

    &.main-400 {
        background-color: var(--muted-foreground);
        color: #FFFFFF;

        &:hover {
            background-color: var(--muted-foreground);
        }
    }

    &.main-500 {
        background-color: var(--foreground);
        color: #FFFFFF;

        &:hover {
            background-color: var(--foreground);
        }
    }

    &.support-100 {
        background-color: #DCF2E5;

        &:hover {
            background-color: #DCF2E5;
        }
    }

    &.support-400 {
        background-color: #008939;
        color: #FFFFFF;

        &:hover {
            background-color: #008939;
        }
    }

    &.support-500 {
        background-color: #006731;
        color: #FFFFFF;

        &:hover {
            background-color: #006731;
        }
    }

    &.status-default {
        background-color: var(--muted-foreground);
        color: #FFFFFF;

        &:hover {
            background-color: var(--muted-foreground);
        }
    }

    &.status-success {
        background-color: #B8E3C9;
        color: #050E1D;

        &:hover {
            background-color: #B8E3C9;
        }
    }

    &.status-warning {
        background-color: #FEF8D3;
        color: #050E1D;

        &:hover {
            background-color: #FEF8D3;
        }
    }

    &.status-error {
        background-color: var(--destructive-foreground);
        color: #050E1D;

        &:hover {
            background-color: var(--destructive-foreground);
        }
    }

    &.status-info {
        background-color: var(--accent);
        color: #050E1D;

        &:hover {
            background-color: var(--accent);
        }
    }
}
