.sds--chips {
    padding: 0 0.75rem;
    display: inline-flex;
    align-items: center;
    gap: .5em;
    border-radius: 1rem;
    border: none;
    cursor: default;
    background-color: var(--muted);

    &:hover {
        background-color: var(--border);
    }

    svg {
        width: calc(15em / 16);
        height: calc(18.75em / 16);
    }

    &.main-100 {
        background-color: var(--muted);

        &:hover {
            background-color: var(--muted);
        }
    }

    &.main-200 {
        background-color: var(--border);

        &:hover {
            background-color: var(--border);
        }
    }

    &.main-300 {
        background-color: var(--muted-foreground);
        color: #FFFFFF;

        &:hover {
            background-color: var(--muted-foreground);
        }
    }

    &.main-400 {
        background-color: var(--muted-foreground);
        color: #FFFFFF;

        &:hover {
            background-color: var(--muted-foreground);
        }
    }

    &.main-500 {
        background-color: var(--foreground);
        color: #FFFFFF;

        &:hover {
            background-color: var(--foreground);
        }
    }

    &.support-100 {
        background-color: #DCF2E5;

        &:hover {
            background-color: #DCF2E5;
        }
    }

    &.support-400 {
        background-color: #008939;
        color: #FFFFFF;

        &:hover {
            background-color: #008939;
        }
    }

    &.support-500 {
        background-color: #006731;
        color: #FFFFFF;

        &:hover {
            background-color: #006731;
        }
    }

    &.status-default {
        background-color: var(--muted-foreground);
        color: #FFFFFF;

        &:hover {
            background-color: var(--muted-foreground);
        }
    }

    &.status-success {
        background-color: #B8E3C9;
        color: #050E1D;

        &:hover {
            background-color: #B8E3C9;
        }
    }

    &.status-warning {
        background-color: #FEF8D3;
        color: #050E1D;

        &:hover {
            background-color: #FEF8D3;
        }
    }

    &.status-error {
        background-color: var(--destructive-foreground);
        color: #050E1D;

        &:hover {
            background-color: var(--destructive-foreground);
        }
    }

    &.status-info {
        background-color: var(--accent);
        color: #050E1D;

        &:hover {
            background-color: var(--accent);
        }
    }
}

.sds--chips--visual {
    display: flex;
}

.sds--chips--textual {
    padding: 0.5rem 0;
    display: block;
    font-weight: 600;
    text-align: center;
}
