@use "../styles/vars.scss" as *;

section.copy-to-clipboard {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 14px;

    svg {
        margin: 0;
        width: 18px;
        height: auto;
        color: var(--sds--color--gray--400);

        &:hover {
            color: var(--sds--color--black);
        }

        transition: color .4s ease;
    }

    &.copied, svg.copied {
        color: var(--sds--color--green--400);
    }

}

div.copied {
    position: absolute;
    background-color: var(--sds--color--gray--500);
    opacity: 1;
    border-radius: 6px;
    max-width: 280px;
    word-break: break-word;
    font-size: .875rem;
    line-height: calc(18 / 14);
    color: white;
    padding: 4px;
    right: -6px;
    top: -20px;
    transition: opacity .4s ease;

    &.hidden {
        opacity: 0;
    }
}


