@use "../styles/vars.scss" as *;

section.copy-to-clipboard {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 14px;
    svg {
        margin: 0;
        width: 18px;
        height: auto;
        color: var(--sds--color--gray--400);

        &:hover {
            color: var(--sds--color--black);
        }
        transition: width .4s ease, color .4s ease ;
    }

    &.copied, svg.copied {
        width: 22px;
        color: var(--sds--color--green--400);
    }

}


