.inner-right {
    .contact-person-section {
        background-color: var(--sds--color--gray--background);
        margin-top: 20px;
        border-radius: 10px;
        padding: 20px;

        &.read-only {
            background-color: transparent;

            p {
                margin-bottom: 12px;
            }

        }

        a {
            margin-top: 18px;
            display: block;
        }
    }

}