footer.sds--footer {
    margin-top: auto;

    .sds--footer--inner nav.menu ul li a.external-link {
        color: var(--sds--color--gray--400);
        &:hover {
            color: var(--sds--color--gray--500);
        }
    }

}
