footer.sds--footer {
    margin-top: auto;
    background-color: white;

    .sds--footer--inner nav.menu ul li a.external-link {
        color: var(--muted-foreground);

        &:hover {
            color: var(--foreground);
        }
    }

}
