@use "../index";

.header-container {
    background-color: white;
    padding: 4px 0 26px 0;
    border-bottom: 1px solid #B2B6BE;

    .header-inner {
        display: flex;
        align-items: center;
        margin: 15px 35px 0 0;
        max-width: 1440px;

        .logo {
            margin: 0 65px 0 35px;
        }

        .nav {
            @media (max-width: index.$mobile-width) {
                display: none;
            }
        }
        .desktop-navigation {
            @media (max-width: index.$mobile-width) {
                display: none;
            }
        }
        .mobile-navigation {
            margin: 0 25px 0 auto;

            @media (min-width: calc(index.$mobile-width + 1px)) {
                display: none;
            }
        }
    }
}