.image-field-container {
    display: flex;
    gap: 20px;

    .image-field {
        border-radius: 6px;
        border: 1px solid var(--border);
        padding: 15px;

        svg, img {
            width: 140px;
            height: auto;

            &.image-not-found {
                width: 110px;
                color: var(--muted-foreground)
            }
        }

    }

    .edit-options {
        display: flex;
        flex-direction: column;
        gap: 15px;

        ul {
            list-style: initial;

            li {
                margin-left: 15px;
                color: var(--muted-foreground);
                font-size: smaller;
            }
        }
    }

    input[type="file"] {
        display: none;
    }

}