.access-period-picker-container {
    display: flex;

    .access-period-picker {
        display: flex;
        align-items: center;
        border: 1px solid var(--border);
        border-radius: 12px;
        background: white;
        white-space: nowrap;
    }

}
