footer.shared-menu {
    margin-top: auto;

    background: var(--foreground);

    .sds--footer--inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        hr {
            width: 100%;
            border: none;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            margin: 0;
        }

        .toggle {
            background-color: rgba(255, 255, 255, 0.08);
            border-color: rgba(255, 255, 255, 0.24);
            border-radius: 8px;
        }

        .toggle__option {
            color: #CED1D7;
            border-radius: 8px;

            &:hover {
                color: white;
            }

            &.active {
                background-color: rgba(255, 255, 255, 0.24);
                color: white;
            }

            &:first-child.active {
                border-right-color: rgba(255, 255, 255, 0.24);
            }

            &:last-child.active {
                border-left-color: rgba(255, 255, 255, 0.24);
            }
        }

        nav.menu {
            ul {
                display: inline-flex;
                gap: 20px;
            }

            a:link, nav.menu a:visited:hover {
                color: #CED1D7!important;
                font-weight: normal;
            }

        }
    }
}
