@use "../index";

.sds--navigation-menu {
    min-width: 280px;

    &.collapsed {
        min-width: 48px;
    }

    .sds--navigation-menu-title h2 {
        word-break: break-word;
    }
}

.sds--navigation-menu-children {
    margin-top: auto;

    &.collapsed {
        display: none;
    }
}

.container .sds--navigation-menu-items {
    margin-bottom: 35px;
}

.container .sds--navigation-menu .sds--navigation-menu-items {
    gap: 0;

    .sds--navigation-group-item .react-tooltip {
        background-color: #cdd0d6;
        color: black;
    }
}

.sds--navigation-menu .sds--navigation-menu-items p.group-label {
    font-weight: 600;
}
