@use "../index";

.sds--navigation-menu {
    min-width: 280px;

    &.collapsed {
        min-width: 48px;
    }

    .sds--navigation-menu-inner .sds--navigation-menu-items {
        gap: 15px;
    }

    .sds--navigation-menu-items .sds--navigation-menu-item {
        padding: 15px;
        border-radius: 4px;

        &.active {
            background-color: var(--sds--color--white);

            a, svg {
                color: black;
            }

        }
    }
}

.sds--navigation-menu-children {
    margin-top: auto;

    &.collapsed {
        display: none;
    }
}

