.status-menu-item {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 8px 8px;
    background-color: white;
    cursor: pointer;

    &:hover {
        background-color: var(--sds--color--green--100);
    }

    &.active {
        cursor: initial;
        background-color: var(--sds--color--gray--100);
    }

    &.disabled {
        cursor: not-allowed;
        &:hover:not(.active) {
            background-color: white;
        }
    }

    svg {
        margin-left:auto;
        fill: white;
        color: var(--sds--color--gray--400);
    }

}