.status-menu-item {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 8px 24px;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary);
    }

    &.active {
        cursor: initial;
        background-color: var(--accent);
    }

    &.disabled:not(.active) {
        cursor: not-allowed;
    }

    svg {
        margin-right: 20px;
        color: var(--muted-foreground);
    }

}
