@use "../index";

.status-link {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    border-radius: 4px;
    padding: 10px 20px 10px 10px;
    background-color: white;
    border: 1px solid var(--sds--color--gray--200);
    cursor: pointer;

    &:hover {
        background-color: var(--sds--color--gray--100);
    }

    &.disabled {
        color: var(--sds--color--gray--400);
        cursor: initial;
        &:hover {
            background-color: white;
        }
    }

    svg {
        fill: white;
    }

    svg.pending, svg.completed, svg.team {
        margin-right: 20px;
    }

    svg.caret_right {
        margin-left: auto;
    }
}