@use "../index";
@use "../styles/vars" as *;

.status-link {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: $control-height;
    padding: 0 0 0 10px;
    cursor: pointer;

    &.enabled:hover {
        background-color: var(--accent);

    }

    &.disabled {
        color: var(--muted-foreground);
        cursor: initial;

    }

    svg.pending, svg.completed, svg.team, svg.alert-triangle {
        margin-right: $gap-sm;
    }

    svg.caret_right {
        margin-left: auto;
    }
}
