.user-membership-container {
    display: flex;
    align-items: center;
    gap: 25px;

    .user-membership {
        display: inline-block;

        span {
            display: block;
        }

        .name {
            font-weight: 600;
        }

        .email {
            color: var(--muted-foreground);
        }
    }


}
