@use "../styles/vars.scss" as *;

.policy-overview-container {
    width: 100%;

    .policy-overview {
        a, a.visited {
            text-decoration: none;
            color: var(--muted-foreground);
        }

        .policy-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 25px;
        }

    }
}
