@use "../styles/vars.scss" as *;

.policy-form-container {
    width: 100%;

    .policy-form-header {

        .header-top {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            h2 {
                margin-bottom: 0;
            }

            .policy-header-actions {
                display: flex;
                gap: 18px;
                align-items: center;
                margin-left: auto;
            }
        }

        .header-bottom {
            display: flex;
            margin-bottom: 15px;

            em {
                margin-left: auto;
            }
        }

    }

    .policy-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 1px solid var(--sl-color-neutral-100);
        border-radius: 10px;
        padding: 24px 32px 32px 32px;

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;

            div.row-item:last-child {
                margin-left: auto;
            }
        }

        .sds--segmented-control.sds--tooltip-parent {
            margin-right: 8px;
        }

        .sds--segmented-control button {
            min-width: 110px;
        }

        .filters {
            background-color: var(--sds--color--gray--background);
            padding: 20px;

            .input-select-inner.creatable {
                .select-inner__indicators {
                    display: none;
                }
            }

            .attribute-name-wrapper {
                display: flex;
                width: 100%;

                .select-field {
                    flex-grow: 2;
                    margin-right: 15px;
                }

                button.sds--btn--delete {
                    margin: auto 0 0 auto;
                    padding: 13px 13px;
                    background-color: white;
                    border: 1px solid var(--sds--color--gray--300);
                }
            }
        }

        label.stand-alone {
            font-weight: 600;
            margin-bottom: -6px;
        }

        .row-service-providers {
            display: flex;

            .select-field {
                &.any-of-service-providers {
                    width: 180px;

                    .input-select-inner {
                        border-radius: 6px 0 0 6px;
                        border-right: none;
                    }

                    .select-inner__control--is-disabled {
                        border-radius: 6px 0 0 6px !important;
                    }
                }

                &.service-providers {
                    flex-grow: 2;

                    .input-select-inner {
                        border-radius: 0 6px 6px 0;
                    }
                }
            }
        }

        .deletable-attribute {
            display: flex;

            &:not(:first-child) {
                margin-top: 25px;
            }

            .select-field {
                &.select-access-rule {
                    width: 200px;
                    margin-right: 25px;
                }

                &.attribute-value {
                    flex-grow: 2;

                    .input-select-inner {
                        border-radius: 0 6px 6px 0;
                    }
                }

                &.conditional-options {
                    .input-select-inner {
                        border-radius: 0;
                        border-left: none;
                        border-right: none;
                    }

                    .select-inner__control--is-disabled {
                        border-radius: 0 !important;
                    }
                }

                &.attribute-name {
                    width: 300px;

                    .input-select-inner {
                        border-radius: 6px 0 0 6px;
                    }
                }
            }

            button.sds--btn--delete {
                margin-left: 15px;
                color: var(--sds--color--red--400);
            }

        }

    }

    .add-attribute-container {
        margin-top: 40px;
        width: 300px;
    }

    .actions {
        display: flex;
        width: 100%;
        margin: 35px 0 25px 0;
        gap: 20px;
        padding-top: 25px;
        border-top: 1px solid var(--sds--color--gray--200);

        svg {
            fill: var(--sl-color-neutral-400);
            color: var(--sl-color-neutral-400);

            &.bin-svg {
                cursor: pointer;

                &:hover {
                    color: var(--sds--color--red--500);
                }
            }
        }

        button.sds--btn--secondary {
            margin-left: auto;
        }

    }
}
