@use "../styles/vars.scss" as *;

.policy-form-container {
    width: 60%;
    @media (max-width: $medium) {
        width: 100%;
    }

    .policy-form-header {

        .header-top {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            h2 {
                margin-bottom: 0;
            }

            .policy-header-actions {
                display: flex;
                gap: 18px;
                align-items: center;
                margin-left: auto;
            }
        }

        .header-bottom {
            display: flex;
            margin-bottom: 15px;

            em {
                margin-left: auto;
            }
        }

    }

    .policy-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 1px solid var(--sl-color-neutral-100);
        border-radius: 10px;
        padding: 24px 32px 32px 32px;

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;

            div.row-item:last-child {
                margin-left: auto;
            }
        }

        .sds--segmented-control.sds--tooltip-parent {
            margin-right: 8px;
        }

        .sds--segmented-control button {
            min-width: 110px;
        }

        .filters {
            background-color: var(--sds--color--gray--background);
            padding: 20px;

            .input-select-inner.creatable {
                .select-inner__indicators {
                    display: none;
                }
            }

            .attribute-name-wrapper {
                display: flex;
                width: 100%;

                .select-field {
                    flex-grow: 2;
                    margin-right: 15px;
                }

                button.sds--btn--delete {
                    margin: auto 0 0 auto;
                    padding: 13px 13px;
                    background-color: white;
                    border: 1px solid var(--sds--color--gray--300);
                }
            }
        }

    }

    .add-attribute-container {
        margin-top: 60px;
    }

    .actions {
        display: flex;
        width: 100%;
        margin: 35px 0 25px 0;
        gap: 20px;
        padding-top: 25px;
        border-top: 1px solid var(--sds--color--gray--200);

        svg {
            fill: var(--sl-color-neutral-400);
            color: var(--sl-color-neutral-400);

            &.bin-svg {
                cursor: pointer;

                &:hover {
                    color: var(--sds--color--red--500);
                }
            }
        }

        button.sds--btn--secondary {
            margin-left: auto;
        }

    }
}
