@use "../styles/vars.scss" as *;

.policy-overview-container {
    width: 75%;
    @media (max-width: $medium) {
        width: 100%;
    }

    .policy-overview {
        a, a.visited {
            text-decoration: none;
            color: var(--sl-color-neutral-500);
        }

        .grouped {
            display: flex;
            width: 100%;
            margin: 25px 0;

            button {
                align-self: flex-start;
                margin-left: auto;
            }

        }

        .access-card-container {
            display: flex;
            width: 100%;
            gap: 15px;


            svg {
                fill: transparent;
                cursor: pointer;
                color: var(--sds--color--gray--500);

                &:hover {
                    color: black;
                }
            }

            .access-card {
                margin-right: 15px;

                &.policy-breakdown {
                    flex-direction: row;
                    align-items: center;

                    &.paused {
                        background-color: var(--sds--color--gray--background);
                    }

                    .policy-name-container {
                        display: flex;
                        flex-direction: column;


                        p.policy-name {
                            font-weight: 600;
                            span {
                                font-weight: normal;
                            }
                        }

                    }

                    .policy-attributes-container {
                        display: flex;
                        flex-direction: column;
                        margin-top: 6px;

                        p {
                            line-height: 20px;
                            font-size: 16px;

                            &.logic {
                                font-weight: 600;
                            }
                        }
                    }

                    .sds--chips {
                        color: black;


                        &.policy-chip-active {
                            background-color: var(--sds--color--green--200);
                        }

                        &.policy-chip-paused {
                            background-color: var(--sds--color--gray--250);
                        }
                    }

                    .policy-paused-container {
                        margin: 0 10px 0 auto;
                    }

                }

            }

            .policy-actions {
                display: flex;
                gap: 15px;
                margin-top: 24px;
            }
        }

    }
}
