.access-card {
    background: white;
    margin: 10px 0;
    border: 1px solid var(--sl-color-secondary-400);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;

    &.grey {
        background-color: var(--sds--color--gray--background);
        font-style: italic;
    }

    &.border {
        border: 1px solid var(--sl-color-neutral-400);

    }

    &.large {
        font-size: 18px;
    }

    h4 {
        font-size: 18px;
    }

    img, svg {
        margin-left: auto;
        width: 42px;
        height: 42px;
    }

    .chip {
        margin-left: auto;
        border-radius: 38px;
        padding: 2px 12px;
        font-size: 16px;
        background-color: var(--sl-color-neutral-100);
        color: var(--sl-color-neutral-500);
        min-width: 100px;
        text-align: center;

        &.blue {
            background-color: var(--sds--color--blue--400);
            color: white;
        }
    }
}
