$min-width-pixels: 620px;

h1 {
    font-size: var(--text-4xl-font-size);
}

h2 {
    font-size: var(--text-3xl-font-size);
}

h3 {
    font-size: var(--text-2xl-font-size);
}

h4 {
    font-size: var(--text-xl-font-size);
}

h5 {
    font-size: var(--text-lg-font-size);
}

h6 {
    font-size: var(--text-base-font-size);
}

small {
    font-size: var(--text-sm-font-size);
}


:root {
    --sds--color--gray--background: #F4F6F8;
    --sl-color-warning: #FFC100;
    --sl-color-warning-50: #FEFBE6;
    --sl-color-warning-100: #FFD03A;
    --sl-color-warning-600: #F5B800;
    --sl-color-grey-100: #E1E4E8;
    --sl-color-grey-400: #EAECF0;
    --sl-color-green-100: #ECFCF3;
    --sl-color-green-200: #B8E3C9;
    --sl-color-neutral-100: #EEEFF1;
    --sl-color-neutral-200: #CED1D7;
    --sl-color-neutral-400: #888F99;
    --sl-color-neutral-500: #5E6873;
    --sl-color-secondary-400: #888F99;
    --sl-color-informative-50: #DFF4FF;
    --sl-color-succes-50: #DCF2E5;
}

.sds--card--big {
    width: $min-width-pixels;

    @media (max-width: 680px) {
        width: 100%;
    }
}

.sds--footer--single-bar .sds--footer--inner nav.menu a:link, .sds--footer--single-bar .sds--footer--inner nav.menu a:visited {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
        color: white;

    }
}

.sds--chips.status-error {
    background-color: var(--sl-color-warning-100);
    text-align: center;

    &:hover {
        background-color: var(--sl-color-warning-100);
    }

    &.open {
        background-color: var(--sds--color--gray--300);
    }

    &.in_progress {
        background-color: var(--sds--color--gray--300);
    }

    &.multiple_connections {
        background-color: var(--sds--color--gray--300);
    }

    &.complete {
        background-color: var(--sds--color--green--400);
        color: white;
    }

    &.prod_ready {
        background-color: var(--sds--color--green--400);
        color: white;
    }

    &.ready_for_prod {
        background-color: black;
        color: white;
    }

    &.pending_prod {
        background-color: var(--sl-color-warning-100);
    }

    &.no_connections {
        background-color: var(--sds--color--red--200);
    }

    &.open_change_requests {
        background-color: var(--sl-color-warning-100);
    }
}

span.sds--chips--textual {
    text-align: center;
}

.sds--navigation-menu .sds--navigation-menu-items .sds--navigation-group-item:not(:first-child) {
    border-top: 1px solid var(--sl-color-neutral-500);
}

.sds--navigation-menu .sds--navigation-menu-items .sds--navigation-group-item.custom-group {
    border: 1px solid var(--sl-color-neutral-500);
}

.sds--navigation-menu .sds--navigation-menu-items .sds--navigation-menu-item svg {
    width: 24px;
    height: 24px;
}
