h1 {
    font-size: var(--text-4xl-font-size);
}

h2 {
    font-size: var(--text-3xl-font-size);
}

h3 {
    font-size: var(--text-2xl-font-size);
}

h4 {
    font-size: var(--text-xl-font-size);
}

h5 {
    font-size: var(--text-lg-font-size);
}

h6 {
    font-size: var(--text-base-font-size);
}

small {
    font-size: var(--text-sm-font-size);
}

body {
    font-size: var(--text-xs-font-size);
}

sup.required {
    color: var(--destructive, #dc2626);
    margin-left: 2px;

    &.left-outline {
        margin-left: 10px;
    }
}

a.actionable {
    text-decoration: underline;
}

.sds--chips.status-error {
    background-color: #FFD03A;
    text-align: center;

    &:hover {
        background-color: #FFD03A;
    }

    &.open {
        background-color: var(--muted);
    }

    &.in_progress {
        background-color: var(--muted);
    }

    &.multiple_connections {
        background-color: var(--muted);
    }

    &.complete {
        background-color: #008939;
        color: white;
    }

    &.prod_ready {
        background-color: #008939;
        color: white;
    }

    &.ready_for_prod {
        background-color: black;
        color: white;
    }

    &.pending_prod {
        background-color: #FFD03A;
    }

    &.no_connections {
        background-color: var(--destructive-foreground);
    }

    &.open_change_requests {
        background-color: #FFD03A;
    }
}

span.sds--chips--textual {
    text-align: center;
}
