.sds--loading {
    position: fixed;
    top: 35%;
    left: 49%;
}

.cut-of-lines {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.cut-of-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sds--card {
    margin-bottom: 25px;
    background-color: var(--sds--color--white);
    border-radius: 0.175rem;
    box-shadow: 0 0.1rem 0.1rem 0 var(--sds--color--pitch-black--dimmed--25);
}

button.sds--btn span {
    text-align: center;
}

section.actions {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    position: relative;
    margin: 10px 0 30px 0;
}

span.label {
    display: block;
    font-weight: 600;
    margin-bottom: var(--sds--space--1);
}
