.cut-of-lines {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.cut-of-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.actions {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    position: relative;
    margin: 10px 0 30px 0;
}

span.label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    position: relative;

    &.standalone {
        margin: 12px 0 0.5rem;
    }

    svg.alert-triangle {
        fill: black;
        color: white;
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
    }

}
