@use "../styles/vars" as *;


@mixin input-field {
    label {
        display: inline-block;
        min-width: 210px;
        color: black;
        position: relative;
        margin: 12px 0 var(--sds--space--1);
    }
}

@mixin page {
    max-width: $medium;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $medium) {
        padding: 0 15px;
    }

}

@mixin form {
    grid-column-gap: 50px;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr;

    .one-row {
        grid-column-start: first;
    }

}
